# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
dist
build
out

# Turbo
.turbo

# Testing
coverage
playwright-report
test-results
.playwright

# Environment
.env
.env.local
.env.*.local

# Editor
.vscode/settings.json
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# pnpm
pnpm-lock.yaml.bak

# Vercel
.vercel

# Serwist / PWA
public/sw.js
public/sw.js.map
public/workbox-*.js
public/workbox-*.js.map
